

:root{
    --text-color:#000000;
    --bg-color: #F5F5F7;
    --bg-light-color: white;
    --table-text-color: #121212;
    --display-dark-img: none;
    --display-light-img: block;
    --h-color: black;
    --arrows-color: #89DD65;
}
[data-theme="dark"] {
    --text-color:#f2f2f2;
    --bg-color: #333333;
    --bg-light-color: #121212;
    --table-text-color: #E0E0E0;
    --display-dark-img: block;
    --display-light-img: none;
    --header-border: 1px solid green;
    --h-color: #89DD65;
    --arrows-color: linear-gradient(171.08deg, #FFFFFF -1.08%, #D9D9D9 101.93%);
}



*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

body{
    width: 1920px;
    background: var(--bg-color);
    
}

header{
    width: 100%;
    height: 9em;
    display: flex;
    flex-direction: column;
}
h1{
    color: var(--h-color);
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}

#login {
    color: #89DD65;
    border-right: 2px solid #89DD65;
    padding-right: 1rem;
    font-weight: 600;
}

.light-img{
    display: var(--display-light-img);
}
.dark-img{
    display: var(--display-dark-img);
}

.upper-header{
    width: 100%;
    height: 27%;
    display: flex;
    justify-content: center;
}
.content-wrapper{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upper-header-left-links{
    display: flex;
    align-items: center;
    justify-content: space-between;

    a{
        padding-right: 3em;
        font-weight: 300;
        line-height: 25px;
        font-size: 15px;
        text-decoration: none;
        &:nth-child(1){
            text-decoration: underline;
        }
    }
}

.upper-header-right-links{
    width: 13em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        cursor: pointer;
    }
}
.sel{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    a{
        text-decoration: none;
    }
}
.dropdown{
    display: flex;
    a{
        align-self: center;
    }
}
.dropdown-content{
    display: none;
    min-width: 8em;
    margin-top: 2em;
    position: absolute;
    background: #ececec;
    z-index: 1;
}
.dropdown-content a {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}
.dropdown-content a:hover{
    background: #e7e7e7;
}
.dropdown:hover .dropdown-content {display: block;}

.lower-header{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    border : 1px solid #89DD65;
    border-left: none;
    border-right: none;
    background: var(--bg-light-color);
    img{
        height: 27px;
    }
}
.lower-header-links{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        text-decoration: none;  
    }
}
.lower-header-buttons{
    height: 50px;
    display: flex;
    justify-content: space-between;
    button{
        height: 100%;
        padding: 1em 2em 1em 2em;
        margin-left: 1rem;
        background: var(--bg-color);
        border: 1px solid var(--table-text-color);
        border-radius: 2rem;
        color: var(--table-text-color);
        font-weight: normal;
        font-style: normal;
        cursor: pointer;
        &:nth-child(1){
            background: linear-gradient(225deg, #89DD65 0%, #AEDD65 100%);
            border: none;
            color: black;
        }
        
    }
}

.slider{
    width: 100%;
    background: var(--bg-light-color);
    .slider-item{
        width: 100%;
        display: flex;
        justify-content: center;
        .slider-content{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .img-with-bittons{
                display: flex;
            }
            .slider-info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                p{
                    margin-top: 2em;
                    padding: 0;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 27px;
                }
            }
        }
    }
}
.arrows{
    align-self: flex-end;
    position: absolute;
    display: flex;
    width: 7em;
    height: 3em;
    justify-content: space-between;
    align-items: center;
    background: var(--arrows-color);
    z-index: 1;
    img{
        align-self: center;
    }
    p{
        color: black;
    }
}
.left-arrow{
    cursor: pointer;
    transform: rotate(90deg);
}
.right-arrow{
    cursor: pointer;
    transform: rotate(-90deg);    
}

#info{
    width: 100%;
    height: 582px;
    display: flex;
    justify-content: center;
    align-items: center;
    .content-wrapper{
        border: none;
    }
    div{
        padding: 2em 1.5em 0 1.5em;
        height: 80%;
        border: 1px solid grey;
    }
    h2{
        margin: 1em 0 2em;
    }
    p{
        width: 19em;
    }
}

#top{
    width: 100%;
    height: 842px;
    background: var(--bg-light-color);
    display: flex;
    justify-content: center;
    .wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .top-info{
            width: 100%;
            display: flex;
            justify-content: space-between;
            p{
                width: 46em;
            }
        }
        .top-charts{
            width: 100%;
            margin-top: 7em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .charts-table{
                width: 47%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .table-name{
                    display: flex;
                    justify-content: space-between;
                    div{
                        display: flex;
                        align-items: center;
                    }
                    h3{
                       font-size: 20px;
                       font-weight: bold;
                    }
                    .question-mark{
                        width: 1.2em;
                        height: 1.2em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 1em;
                        margin-left: 1em;
                        background: #f2f2f2;
                        color: #828282;
                        cursor: pointer;
                        user-select: none;
                    }
                    
                }
            }
            .table{
                margin-top: 2em;
                width: 100%;
                .table-header{
                    width: 100%;
                    height: 3em;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    border: 2px solid #e0e0e0;
                    .table-header-cell{
                    width: 20%;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 19px;
                    color: #828282;
                    }
                }
                .table-body-row{
                    width: 100%;
                    height: 5em;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    border: 2px solid #e0e0e0;
                    .table-body-cell{
                    width: 20%;
                    display: flex;
                    justify-content: flex-start;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 19px;
                    color: var(--table-text-color);
                    img{
                        width: 7em;
                    }
                    }
                }

            }

        }
    }
}


footer{
    width: 100%;
    height: 15em;
    display: flex;
    justify-content: center;
    a{
        
    text-decoration: none;
    }
    .footer-logo{
        width: 21%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 10px;
        line-height: 13px;
        color: #828282;
        font-weight: 300;
        img{
            width: 18em
        };
    }
    nav{
        width: 75%;
        height: 50%;
        display: flex;
        justify-content: space-around;
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            &:nth-child(1){
                height: 110%;
            }
        }
        a{
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
        }
        
        .footer-nav{
            font-weight: 600;
            font-size: 17px;
            line-height: 23px;
        }
    }
}



.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }